color-primary = #5468de
color-light = #9e9bf9
color-grayscale = alpha(tint(color-primary, 70%), 5%)
color-primary-grey = mix(#424242, color-primary, 80%)
color-primary-grey-light = lighten(color-primary-grey, 30%)
