// Dark theme
$backgroundDark: #18191a;
$sidebarDark: #1d1f21;
$textDark: rgba(255, 255, 255, 0.87);

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #f3f4f5;
$textBright: rgb(59, 59, 59);  //#2a2c2f;

// Brand
$brandPrimary:#6743F3;
